<a href="https://colab.research.google.com/github/alvas-education-foundation/Sushmitha_naik/blob/master/day3_session2_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Write a Python Program to Print Multiplication Table of a  number which got through keyboard.
n = int(input("Enter value n: "))
print([str(n)+" x "+str(i)+" = " + str(n*i) for i in range(1,11)])

Enter value n: 24
['24 x 1 = 24', '24 x 2 = 48', '24 x 3 = 72', '24 x 4 = 96', '24 x 5 = 120', '24 x 6 = 144', '24 x 7 = 168', '24 x 8 = 192', '24 x 9 = 216', '24 x 10 = 240']

In [2]:
#Write a  Python Program to find the Armstrong Numbers between 1 and 2000 ( i.e 153 is amtrong numbers as 1**3+5**3+3**3=153 )

li =[]
for i in range(1,2000):
  l = len(str(i))
  sum=0
  temp=i
  while temp>0:
    a = temp%10
    sum += a ** l
    temp //=10
  if i == sum:
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634]

In [4]:
#Write a python program to get the list of tuples (rollno, name) for n students by getting rollno and name through keyboard. Sort and print  them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

li = []
n = int(input("Enter value n: "))
for i in range(n):
  rollno = input("Enter roll.no: ")
  name = input("Enter name: ")
  li.append((rollno,name))
print("Ascending order (roll.no): "+str(sorted(li)))
li.sort(reverse=True)
print("Descending order (roll.no): "+str(li))
li.sort(key = lambda x:x[1])
print("Alphabetical order: "+ str(li))
li.sort(key = lambda x: x[1],reverse=True)
print("Dealphabetical order: "+ str(li))

Enter value n: 2
Enter roll.no: 3
Enter name: sush
Enter roll.no: 4
Enter name: bush
Ascending order (roll.no): [('3', 'sush'), ('4', 'bush')]
Descending order (roll.no): [('4', 'bush'), ('3', 'sush')]
Alphabetical order: [('4', 'bush'), ('3', 'sush')]
Dealphabetical order: [('3', 'sush'), ('4', 'bush')]

In [5]:
#Python Program to Detect if Two Strings are Anagrams ( They are  the two strings which have same length and same words which may be different in their order)

s1 = input("Enter first string: ")
s2 = input("Enter second string: ")

if(sorted(s1) == sorted(s2)):
  print("Anagrams")
else:
  print("Not Anagrams")

Enter first string: sush
Enter second string: bush
Not Anagrams